// Color codes and stuff
$background-main: #172629;
$background-main-dark: darken($background-main, 3);
$background-secondary: #1B2F33;
$background-secondary-dark: darken($background-secondary, 3);
$accent: #a119e5;
$test1: green;
$test2: red;
$test3: blue;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Main app layout
main {
    display: grid;
    grid-template-columns: 1.8fr 5fr 2.5fr;
    height: 100%;
    overflow: hidden;
}


.sidebar {
    height: 100%;
    background-color: $background-secondary;

    ul li {
        list-style-type: none;
        transition: ease-in-out 0.2s;
        background-color: $background-main;
        margin: 5px;
        padding: 5px;
        border-radius: 3px;

        // Add a background bubble thing to the icons
        i {
            margin-right: 10px;
            background-color: $accent;
            padding: 5px;
            border-radius: 50%;
        }

        // Remove all button styling
        button {
            color: white;
            border: none;
            background-color: transparent;
        }
    }

}

// A list of song names
.songs-list {
    height: 100%;
    background-color: $background-main;

    // List of songs
    ul {
        height: 99vh;
        overflow-y: scroll;

        li {
            list-style-type: none;
        }
    }

    // Scrollbar
    ::-webkit-scrollbar {
        width: 10px;

        &-track { background-color: transparent; }
        &-thumb {
            background-color:  $background-main-dark;
            border-radius: 5px;

            &:hover {
                background-color: lighten($background-main-dark, 1);
            }
        }
    }
}

.player {
    height: 100%;
    background-color: $background-secondary;
}




// Song cards
.song-container {
    background-color: $background-secondary;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 10fr;

    &:hover {
        background-color: $background-secondary;
    }

    .song-info {
        margin-left: 20px;

        h3 {
            color: #d0cccc;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}