$background-primary: #132430;
$background-secondary: #081926;
$text: #fde6e6;
$text-dark: darken($text, 5%);


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
	width: 100%;
	height: 100%;

	// TODO: Don't do this
	overflow: hidden;
}




.music-player {
	display: grid;
	grid-template-columns: 1fr 1.3fr;
	height: 100vh;
	color: $text;

	// Left section
	.left {
		background: #252155;
		background: linear-gradient(254deg, #252155 63%, #171624 100%);

		padding: 10px;

		// Cover image
		.cover-image img {
			aspect-ratio: 1/1;
			width: 100%;
			height: 100%;
			background-color: #171624;

			border-radius: 6px;
		}

		// forwards, backwards, play, and pause controls
		.player-controls {
			display: flex;
			height: 70px; //TODO: Do this another way.
			justify-content: space-evenly;

			button {
				background-color: transparent;
				border: none;
				font-size: 35px;

				svg path {
					fill: $text;
				}
			}
		}
	}

	// Right section
	.right {
		background-color: $background-primary;
		position: relative;

		// Volume
		.volume {
			padding: 5px;
			color: $text-dark;
			font-size: 15px;
		}

		// Title and artist information
		.song-info-wrapper {
			position: absolute;
			z-index: 99999;
			top: 0;
			left: 0;

			.song-info {
				padding: 25px;
				padding-top: 95px;
				text-align: center;
				
				// Title and subtitle
				textarea {
					background-color: transparent;
					width: 100%;
					height: auto;
					border: none;
					font-weight: bold;
					outline: none;
					text-align: center;
					resize: none;
					overflow-y: hidden;
					
					&.title {
						font-size: 30px;
						color: $text;
					}

					&.artist {
						font-size: 15px;
						color: darken($text, 5%);
					}
				}
			}

		}

		// Equalizer
		canvas {
			width: 100%;
			height: 100%;
		}

		// Progress bar
		.progress-bar-wrapper {
			padding: 10px;
			position: absolute;
			bottom: 0;
			width: 100%;

			input[type="range"] {
				width: 100%;
				-webkit-appearance: none;
				appearance: none;
				background-color: transparent;
	
				&::-webkit-slider-runnable-track {
					// background-color: $background-secondary;
					background: linear-gradient(254deg, rgba(142,255,0,1) 0%, rgba(0,164,255,1) 100%);
					border-radius: 10px;
					height: 10px;
				}
	
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					position: relative;
					top: -2.5px; // TODO: Don't do this. Hack
					background-color: $text;
					width: 15px;
					height: 15px;
					border-radius: 100%;
				}
			}
		}
	}

}

// Hamburger menu
.hamburger {
	position: absolute;
	right: 0;
	z-index: 999999999999;
	padding: 5px;
	background-color: transparent;
	border: none;
	font-size: 30px;

	svg path {
		fill: $text;
	}
}

// Settings pop out
.settings-panel {
	position: absolute;
	z-index: 9999999;
	right: 0;
	height: 100%;
	width: 40%;
	padding: 10px;
	box-shadow: -6px 0px 5px rgba(0, 0, 0, 0.2);

	// Toggle if its visible or not
	// animation shoves it off the screen
	&.hide { animation: hide-settings-panel 0.4s ease-in-out forwards; }
	&.show { animation: show-settings-panel 0.4s ease-in-out backwards; }

	// Keyboard shortcuts
	.keyboard-shortcuts {
		.shortcut-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 3px;

			kbd {
				display: inline-block;
				text-align: center;
				min-width: 25px;
				padding: 5px;
				font-size: 0.9rem;
				font-weight: bold;
				background-color: #131213;
				border-radius: 5px;
				border-bottom: 1px solid #311d2d;
				color: $text;
			}

			&:hover {
				// TODO: Remove padding on x for the background
				background-color: darken(rgba(0, 0, 0, 0.2), $amount: 0);
			}
		}
	}
}

// Fancy shadow thing
.shadow {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

// Fancy glassmorphism thing
// TODO: Make it inherit background color
// TODO: Make it actually look like glass
.glass {
	background: rgba(25, 17, 30, 0.726);
	backdrop-filter: blur(5px);
}

// Divider thing
hr {
	height: 2px;
	background-color: $text;
	border: none;
	margin: 20px 0 20px 0;
}



// Slide in from the right
@keyframes show-settings-panel {
	0% {
		transform: translateX(110%);
		opacity: 30%;
	}
	100% {
		transform: translateX(0);
		opacity: 100%;
	}
}

// Side out from the right
@keyframes hide-settings-panel {
	0% {
		transform: translateX(0);
		opacity: 100%;
	}
	100% {
		transform: translateX(110%);
		opacity: 30%;
	}
}