//#cf4444

$icon-enabled: #ffffff;
$icon-disabled: #6c6b70;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    outline: none;
}

body {
    overflow: hidden;
    color: white;
    background-color: #14171a;
}

.app-wrapper {
    display: flex;

    .song-list {
        flex: 50%;
        width: 50vw;
    }
    .player {
        flex: 50%;
        width: 50vw;
    }
}






// Top section of the actual music player. Contians song information.
.song-info {
    overflow: hidden;
    width: 50vw;

    // Blurred background image
    .background img {
        z-index: -999999999;
        align-self: center;
        width: 100%;
        height: auto;
        filter: blur(20px) brightness(50%);
    }

    // Song information
    .song-info {
        position: absolute;
        top: 10%;
        text-align: center;

        // Main cover image
        img {
            border-radius: 25px;
            width: 70%;
        }

        // Song title
        h1 {
            font-size: 2rem;
        }

        // Song artist
        h2 {
            font-size: 1rem;
            font-style: italic;
            text-transform: uppercase;
            color: gray;
        }
    }
}

// Bottom section of the music player. Contains the controls.
.player-controls {
    z-index: 999;
    position: absolute;
    bottom: 0;
    width: 50vw;
    height: 20%;

    background-color: #281f27;

    // Main audio controls
    .top-controls {
        text-align: center;
        
        // Buttons
        button {
            width: 80px;
            height: 80px;
            font-size: 2.5rem;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 100%;
            margin-top: 10px;

            &#playPauseButton {
                background-color: #ffffff;
                color: #000000;
            }
        }

        
    }
}